<section class="features" id="features">
  <div class="container">
    <ul class="features__list">
      <li class="features__item">
        <svg class="features__svg">
          <use href="./images/icons.svg#icon-1"></use>
        </svg>
        <h2 class="title">Easily Customised</h2>
        <p class="text">
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam
          quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla
          non metus auctor fringilla.
        </p>
      </li>
      <li class="features__item">
        <svg class="features__svg">
          <use href="./images/icons.svg#icon-2"></use>
        </svg>
        <div class="features__wrap">
          <h2 class="title">Responsive REady</h2>
          <p class="text">
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam
            quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper
            nulla non metus auctor fringilla.
          </p>
        </div>
      </li>
      <li class="features__item">
        <svg class="features__svg">
          <use href="./images/icons.svg#icon-3"></use>
        </svg>
        <div class="features__wrap">
          <h2 class="title">Modern Design</h2>
          <p class="text">
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam
            quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper
            nulla non metus auctor fringilla.
          </p>
        </div>
      </li>
      <li class="features__item">
        <svg class="features__svg">
          <use href="./images/icons.svg#icon-4"></use>
        </svg>
        <div class="features__wrap">
          <h2 class="title">Clean Code</h2>
          <p class="text">
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam
            quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper
            nulla non metus auctor fringilla.
          </p>
        </div>
      </li>
      <li class="features__item">
        <svg class="features__svg">
          <use href="./images/icons.svg#icon-5"></use>
        </svg>
        <div class="features__wrap">
          <h2 class="title">Ready to Ship</h2>
          <p class="text">
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam
            quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper
            nulla non metus auctor fringilla.
          </p>
        </div>
      </li>
      <li class="features__item">
        <svg class="features__svg">
          <use href="./images/icons.svg#icon-6"></use>
        </svg>
        <div class="features__wrap">
          <h2 class="title">Download for Free</h2>
          <p class="text">
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam
            quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper
            nulla non metus auctor fringilla.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
