<section class="footer">
  
    <div class="footer--top">
      <div class="container contacts-wrap ">
      <div class="wrap footer__adres-wrap">
        <h3 class="footer__title">Location</h3>
        <address class="text footer__adres">
          3481 Melrose Place Beverly Hills, CA 90210
        </address>
      </div>
      <div class="wrap footer__media-wrap">
        <h3 class="footer__title footer__title--share">Share with Love</h3>
        <ul class="media footer__media">
          <li class="media__item">
            <a
              href="https://www.facebook.com/"
              class="media__link footer__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="media__item">
            <a
              href="https://twitter.com/"
              class="media__link footer__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="media__item">
            <a
              href="https://www.instagram.com/"
              class="media__link footer__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-instargam"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="wrap footer__about-wrap">
        <h3 class="footer__title">About ActiveBox</h3>
        <p class="text text--capitalized">
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
          ullamcorper nulla non metus auctor fringilla.
        </p>
      </div>
      </div>
    </div>
      <div class="footer--bottom">
          <div class="container copyright-wrap">
              <p class="text text--copyright">
                Copyright &#169 2015 ActiveBox. All Rights Reserved Made With
                <span class="footer__copyright"> By Kamal Chaneman</span>
              </p>
          </div>
      </div>
  </div>
</section>

