<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="logo__wrap">
        <a href="#" class="logo">
          <svg class="logo__svg">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <button
          class="nav__button"
          type="button"
          aria-expanded="false"
          aria-controls="menu-container"
          data-menu-button
        >
          <svg
            width="55"
            height="56"
            aria-label="Переключатель мобильного меню"
          >
            <use
              class="nav__icon-menu"
              href="./images/icons.svg#icon-menu"
            ></use>
            <use
              class="nav__icon-cross"
              href="./images/icons.svg#icon-cross"
            ></use>
          </svg>
        </button>
      </div>
      <ul class="nav__list" data-menu>
        <li class="nav__item">
          <a href="#features" class="nav__link">features</a>
        </li>
        <li class="nav__item">
          <a href="#works" class="nav__link">works</a>
        </li>
        <li class="nav__item">
          <a href="#team" class="nav__link">our team</a>
        </li>
        <li class="nav__item">
          <a href="#testimonials" class="nav__link">testimonials</a>
        </li>
        <li class="nav__item">
          <a href="#download" class="nav__link">download</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
