<section class="team" id="team">
  <div class="container">
    <ul class="team__list">
      <li class="team__item">
        <picture>
          <source
            srcset="./images/team/team_mobile_1.jpg"
            media="(max-width: 479px)"
            class="team__img"
            loading="lazy"
          />
          <img
            src="./images/team/team_1.jpg"
            alt="Ruth Woods"
            class="team__img"
            loading="lazy"
          />
        </picture>
        <h2 class="title team__title">Ruth Woods</h2>
        <p class="subtitle">founder, ceo</p>
        <p class="team__text text">
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget
          risus varius blandit sit amet non magna. Nullam quis risus eget urna
          mollis ornare vel eu leo.
        </p>
        <ul class="media">
          <li class="media__item">
            <a
              href="https://www.facebook.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="media__item">
            <a
              href="https://twitter.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="media__item">
            <a
              href="https://www.instagram.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-instargam"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <picture>
          <source
            srcset="./images/team/team_mobile_2.jpg"
            media="(max-width: 479px)"
            class="team__img"
            loading="lazy"
          />
          <img
            src="./images/team/team_2.jpg"
            alt="Timothy Reed"
            class="team__img"
            loading="lazy"
          />
        </picture>
        <h2 class="title team__title">Timothy Reed</h2>
        <p class="subtitle">co-founder, developer</p>
        <p class="text team__text">
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget
          risus varius blandit sit amet non magna. Nullam quis risus eget urna
          mollis ornare vel eu leo.
        </p>
        <ul class="media">
          <li class="media__item">
            <a
              href="https://www.facebook.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="media__item">
            <a
              href="https://twitter.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="media__item">
            <a
              href="https://www.instagram.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-instargam"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <picture>
          <source
            srcset="./images/team/team_mobile_3.jpg"
            media="(max-width: 479px)"
            class="team__img"
            loading="lazy"
          />
          <img
            src="./images/team/team_3.jpg"
            alt="Victoria Vladez"
            class="team__img"
            loading="lazy"
          />
        </picture>
        <h2 class="title team__title">Victoria Vladez</h2>
        <p class="subtitle">ui designer</p>
        <p class="text team__text">
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget
          risus varius blandit sit amet non magna. Nullam quis risus eget urna
          mollis ornare vel eu leo.
        </p>
        <ul class="media">
          <li class="media__item">
            <a
              href="https://www.facebook.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="media__item">
            <a
              href="https://twitter.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="media__item">
            <a
              href="https://www.instagram.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-instargam"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <picture>
          <source
            srcset="./images/team/team_mobile_4.jpg"
            media="(max-width: 479px)"
            class="team__img"
            loading="lazy"
          />
          <img
            src="./images/team/team_4.jpg"
            alt="Beverly Little"
            class="team__img"
            loading="lazy"
          />
        </picture>
        <h2 class="title team__title">Beverly Little</h2>
        <p class="subtitle">data scientist</p>
        <p class="text team__text">
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget
          risus varius blandit sit amet non magna. Nullam quis risus eget urna
          mollis ornare vel eu leo.
        </p>
        <ul class="media">
          <li class="media__item">
            <a
              href="https://www.facebook.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="media__item">
            <a
              href="https://twitter.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="media__item">
            <a
              href="https://www.instagram.com/"
              class="media__link"
              target="_blank"
              rel="noopener nofollow norefferer"
            >
              <svg class="media__svg">
                <use href="./images/icons.svg#icon-instargam"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
