<section class="testimonials" id="testimonials">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="./images/testimonials/testi_1.jpg"
          alt="Susan Sims"
          class="testimonials__img"
        />
        <div class="testimonials__wrap">
          <p class="testimonials__quot">
            “Integer posuere erat a ante venenatis dapibus posuere velit
            aliquet. Donec sed odio dui. Aenean eu leo quam...”
          </p>
          <p class="testimonials__subquot">
            Susan Sims, Interaction Designer at XYZ
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          src="./images/testimonials/testi_2.jpg"
          alt="Susan Sims"
          class="testimonials__img"
        />
        <div class="testimonials__wrap">
          <p class="testimonials__quot">
            “Integer posuere erat a ante venenatis dapibus posuere velit
            aliquet. Donec sed odio dui. Aenean eu leo quam...”
          </p>
          <p class="testimonials__subquot">Tim Robbins, CEO at XYZ</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          src="./images/testimonials/testi_3.jpg"
          alt="Susan Sims"
          class="testimonials__img"
        />
        <div class="testimonials__wrap">
          <p class="testimonials__quot">
            “Integer posuere erat a ante venenatis dapibus posuere velit
            aliquet. Donec sed odio dui. Aenean eu leo quam...”
          </p>
          <p class="testimonials__subquot">Margot Robbie, Developer at XYZ</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          src="./images/testimonials/testi_4.jpg"
          alt="Susan Sims"
          class="testimonials__img"
        />
        <div class="testimonials__wrap">
          <p class="testimonials__quot">
            “Integer posuere erat a ante venenatis dapibus posuere velit
            aliquet. Donec sed odio dui. Aenean eu leo quam...”
          </p>
          <p class="testimonials__subquot">
            Denzel Washington, Leader Player at XYZ
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          src="./images/testimonials/testi_5.jpg"
          alt="Susan Sims"
          class="testimonials__img"
        />
        <div class="testimonials__wrap">
          <p class="testimonials__quot">
            “Integer posuere erat a ante venenatis dapibus posuere velit
            aliquet. Donec sed odio dui. Aenean eu leo quam...”
          </p>
          <p class="testimonials__subquot">
            Jensen Ackles, The Zombie-Killer at XYZ
          </p>
        </div>
      </div>
      .....
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
