<section class="work" id="works">
  <ul class="work__list">
    <li class="work__item">
      <a href="#" class="work__link">
        <img
          src="./images/work/work_1.jpg"
          alt="table"
          class="work__img"
          loading="lazy"
        />
        <div class="work__label">
          <h2 class="title work__title">Project Name</h2>
          <p class="text text--white">User Interface Design</p>
        </div>
      </a>
    </li>
    <li class="work__item">
      <a href="#" class="work__link">
        <img
          src="./images/work/work_2.jpg"
          alt="sofa"
          class="work__img"
          loading="lazy"
        />
        <div class="work__label">
          <h2 class="title work__title">Project Name</h2>
          <p class="text text--white">User Interface Design</p>
        </div>
      </a>
    </li>
    <li class="work__item">
      <a href="#" class="work__link">
        <img
          src="./images/work/work_3.jpg"
          alt="plant"
          class="work__img"
          loading="lazy"
        />
        <div class="work__label">
          <h2 class="title work__title">Project Name</h2>
          <p class="text text--white">User Interface Design</p>
        </div>
      </a>
    </li>
    <li class="work__item">
      <a href="" class="work__link">
        <img
          src="./images/work/work_4.jpg"
          alt="chairs"
          class="work__img"
          loading="lazy"
        />
        <div class="work__label">
          <h2 class="title work__title">Project Name</h2>
          <p class="text text--white">User Interface Design</p>
        </div>
      </a>
    </li>
    <li class="work__item">
      <a href="#" class="work__link">
        <img
          src="./images/work/work_5.jpg"
          alt="armchair"
          class="work__img"
          loading="lazy"
        />
        <div class="work__label">
          <h2 class="title work__title">Project Name</h2>
          <p class="text text--white">User Interface Design</p>
        </div>
      </a>
    </li>
    <li class="work__item">
      <a href="#" class="work__link">
        <img
          src="./images/work/work_6.jpg"
          alt="kitchen"
          class="work__img"
          loading="lazy"
        />
        <div class="work__label">
          <h2 class="title work__title">Project Name</h2>
          <p class="text text--white">User Interface Design</p>
        </div>
      </a>
    </li>
    <li class="work__item">
      <a href="#" class="work__link">
        <img
          src="./images/work/work_7.jpg"
          alt="bed"
          class="work__img"
          loading="lazy"
        />
        <div class="work__label">
          <h2 class="title work__title">Project Name</h2>
          <p class="text text--white">User Interface Design</p>
        </div>
      </a>
    </li>
    <li class="work__item">
      <a href="#" class="work__link">
        <img
          src="./images/work/work_8.jpg"
          alt="room"
          class="work__img"
          loading="lazy"
        />
        <div class="work__label">
          <h2 class="title work__title">Project Name</h2>
          <p class="text text--white">User Interface Design</p>
        </div>
      </a>
    </li>
  </ul>
</section>
