.hero {
    @include sectionPadding(108px, 55px);

    color: getColor("third");
    text-align: center;
    
    background-color: #252B49CC;
    background-image: linear-gradient(#252B49CC, #252B49CC), url(../images/hero-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    @media screen and (min-width: 576px) {
        background-image: linear-gradient(#252B49CC, #252B49CC), url(../images/hero-tablet.png);
    }
    @media screen and (min-width: 768px) {
        @include sectionPadding(257px, 126px);
    }
    @media screen and (min-width: 1024px) {
        background-image: linear-gradient(#252B49CC, #252B49CC), url(../images/hero-desktop.png);
    }

    @media screen and (min-width: 1200px) {
        @include sectionPadding(230px, 120px);
    }
}

.hero__title {
    margin-bottom: 38px;
    
    @include font(36px, 900, normal);
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 62px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 64px;
        margin-bottom: 31px;
    }
}

.hero__text{
    margin-bottom: 55px;
    @media screen and (min-width: 768px) {
        font-size: 18px;
        margin-bottom: 89px;
        
    }

    @media screen and (min-width: 800px)  {
        width: 770px;
        margin-left: auto;
        margin-right: auto;
        
    }
    @media screen and (min-width: 1200px) {
        width: 1000px;
        font-size: 24px;
        margin-bottom: 80px;
    }
}