.team {
    @include sectionPadding(35px, 35px);

    @media screen and (min-width: 768px) {
        @include sectionPadding(78px, 78px);
    }
    @media screen and (min-width: 1200px) {
        @include sectionPadding(114px, 114px);
    }
}

.team__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 48px;
    
    @media screen and (min-width: 768px){ 
        flex-direction: row;
        gap: 25px;
    }
    @media screen and (min-width: 1200px){ 
        gap: 30px;
    }
}

.team__img {
    width: 100%;
    margin-bottom: 25px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
    }
}

.team__title {
    font-weight: 700;
    @media screen and (min-width: 768px) {
        margin-bottom: 10px;
    }
}

.subtitle {
    margin-bottom: 40px;
    color: getColor("accent");
    text-transform: uppercase;
    
    @media screen and (min-width: 768px) {
        margin-bottom: 22px;
    }
    @media screen and (min-width: 768px) and (max-width: 850px) {
        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 18px;
    }

}
.team__text {
    margin-bottom: 53px;
   @media screen and (min-width: 768px) { 
    margin-bottom: 39px;
   }
}