.swiper-slide {
    @media screen and (min-width: 736px) {
        display: flex;
        height: 332px;
    }
         @media screen and (min-width: 1200px) {
             height: 490px;
         }
}

.testimonials__img {
    @media screen and (min-width: 736px) {
        width: 49%;
        object-fit: cover;
        flex-shrink: 0;
    }
    // @media screen and (min-width: 736px) {
    //     height: 332px
    // }
    //     @media screen and (min-width: 1200px) {
    //         height: 490px;
    //     }
}

.testimonials__wrap {
    flex-grow: 1;
    padding: 25px 25px 95px 20px;

    color: getColor("third");
    text-align: center;

    background-color: #5C3249;
    @media screen and (min-width: 736px) {
        padding: 0 25px 0 20px;
        @include flex(flex, center, center);
        flex-direction: column;
    }
    @media screen and (min-width: 1024px) {
        padding: 65px 104px 110px 88px;
    }
    @media screen and (min-width: 1510px) {
        padding: 135px 170px 116px 129px;
    }
}

.testimonials__quot {
    margin-bottom: 25px;

    @include font($f-s: 24px, $f-w: 400);
    font-family: Cardo, serif;
    font-style: italic;
    text-transform: capitalize;
    text-align: center;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

.testimonials__subquot {
    @include font($f-s: 12px, $f-w: 700);
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
            font-size: 13px;
        }
}

.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 33px;
    @media screen and (min-width: 1200px) {
        padding-bottom: 45px;
    }
}

.swiper-pagination {
    @include flex(flex, center, center);
    gap: 21px;
    @media screen and (min-width: 768px) {
        gap: 25px;
    }
 }
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0;
    bottom: 0;

   border: 1px solid #7E5D6F;
   border-radius: 50%;
   background-color: getColor("third");
    @media screen and (min-width: 1200px) {
        width: 14px;
        height: 14px;
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #7E5D6F;
}